<div class="about">
<%= image_tag("https://raw.github.com/mosinski/kosCi/master/kosci/Resources/computer_grief.gif") %>
<div class="imie_nazwisko">Miłosz<br>Osiński</div>
<div class="opis">Student 3-ego roku informatyki na Uniwersytecie Gdańskim<br>
</div>
Kontakt<br>
<%= link_to image_tag("about/Home.png"), "http://www.m1l05z.pl/" %>
<%= link_to image_tag("about/Facebook.png"), "https://www.facebook.com/m1l05z" %>
<%= link_to image_tag("about/Contact.png"), "mailto:mylosz@yahoo.pl" %> 
</div>
