<div class="about">
<%= image_tag("https://raw.github.com/mosinski/kosCi/master/kosci/Resources/computer_grief.gif") %>
<div class="imie_nazwisko">Miłosz<br>Osiński</div>
<div class="opis">Absolwent Informatyki na Uniwersytecie Gdańskim<br>
Zajmuję się pisaniem serwisów opartych o framework-u Ruby on Rails.<br>
Poza Rubym znam jeszcze C#, Java-e, oraz Python-a.<br>
Używam baz danych SQL, Postgres.<br>
Użytkownik Ubuntu ;)
</div>
<br>
Kontakt<br>
<%= link_to image_tag("about/Home.png"), "http://www.m1l05z.pl/", :title => 'Strona Domowa', :class => 'about_przycisk' %>
<%= link_to image_tag("about/Facebook.png"), "https://www.facebook.com/m1l05z", :title => 'Facebook', :class => 'about_przycisk' %>
<%= link_to image_tag("about/Contact.png"), "mailto:mylosz@yahoo.pl", :title => 'Mail', :class => 'about_przycisk' %> 
</div>
