<div class="about">
<%= image_tag("https://raw.github.com/mosinski/kosCi/master/kosci/Resources/computer_grief.gif") %>
<div class="imie_nazwisko">Miłosz<br>Osiński</div>
<div class="opis">Student 3-ego roku informatyki na Uniwersytecie Gdańskim<br>
</div>
</div>
