<div class="date-outer">
  <div class="date-posts">
    <div class="post-outer">
      <article class="post hentry">
        <div class="post-header-line-1"></div>
        <div class="post-body entry-content clearfix">
          <div class="entry-colors">
            <div class="color_col_1"></div>
            <div class="color_col_2"></div>
            <div class="color_col_3"></div>
          </div>
          <div id="summary2165021750605474041">
            <div>
              <%= form_for(@article) do |f| %>
                <%= render partial: 'form', locals: { f: f } %>
                <div class="actions">
                  <%= f.submit :value => "Aktualizuj Artykuł" %><%= button_tag "Powrót",:type => 'button',:class => 'button',:onclick => "location.href = '#{articles_path}'" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
