<%= render @articles %><br />

<center><%= page_entries_info @articles %></center>

<% if @articles.count > 5 %>
  <div class="blog-pager" id="blog-pager">
    <%= will_paginate @articles %>
  </div>
<% end %>

<script type="text/javascript">
  var disqus_shortname = '<%= ENV['disqus_shortname'] %>';

  if (disqus_shortname.length > 0) {
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  }
</script>
