<%= render @articles %>
<br />
<center><%= page_entries_info @articles %></center>
<% if @articles.count > 5 %>
  <div class="blog-pager" id="blog-pager">
    <%= will_paginate @articles, :container => false %>
  </div>
<% end %>
