<%= form_for(@newsletter || Newsletter.new) do |f| %>
  <div class="field">
    <%= f.text_field :email, :class =>"rejestracja",:placeholder => 'Twój Email' %>
  </div>
<%= f.submit :class => 'btn btn-success', :id =>"rejestracja_przycisk", :value => "Subskrybuj"%>
<% end %>

