<div class="post-body entry-content clearfix">
  <div class="entry-colors">
    <div class="color_col_1"></div>
    <div class="color_col_2"></div>
    <div class="color_col_3"></div>
  </div>
  <div id="summary2165021750605474041">
    <article class="post hentry">
      <%= image_tag("https://raw.github.com/mosinski/kosCi/master/kosci/Resources/computer_grief.gif") %>
      <div class="imie_nazwisko">Miłosz<br>Osiński</div>
      <div class="opis">
        Absolwent Informatyki na Uniwersytecie Gdańskim<br>
        Zajmuję się pisaniem serwisów opartych o framework Ruby on Rails.<br>
        Poza Rubym znam jeszcze C#, Java-e, oraz Python-a.<br>
        Używam baz danych SQL, Postgres. MongoDB<br>
        Użytkownik Ubuntu ;)
      </div>
    </article>
  </div>
</div>
