<div class="post-body entry-content clearfix">
  <div class="entry-colors">
    <div class="color_col_1"></div>
    <div class="color_col_2"></div>
    <div class="color_col_3"></div>
  </div>
  <div id="summary2165021750605474041">
    <article class="post hentry">
      <a href="https://www.facebook.com/m1l05z"><i class="fa fa-facebook-square fa-5x"></i></a>
      <a href="https://plus.google.com/+MiłoszOsiński"><i class="fa fa-google-plus-square fa-5x"></i></a>
      <a href="https://www.linkedin.com/in/mosinski1"><i class="fa fa-linkedin-square fa-5x"></i></a>
      <a href="https://github.com/mosinski"><i class="fa fa-git-square fa-5x"></i></a>
    </article>
  </div>
</div>
