@font-face {
  font: {
    family: 'Source Sans Pro';
    weight: 300;
    style: 'normal';
  }
  src: asset-url('SourceSansPro-Light.woff') format('woff');
}
@font-face {
  font: {
    family: 'Source Sans Pro';
    weight: 400;
    style: 'normal';
  }
  src: asset-url('SourceSansPro-Regular.woff') format('woff');
}
@font-face {
  font: {
    family: 'Source Sans Pro';
    weight: 700;
    style: 'normal';
  }
  src: asset-url('SourceSansPro-Bold.woff') format('woff');
}
@font-face {
  font: {
    family: 'Source Sans Pro';
    weight: 900;
    style: 'normal';
  }
  src: asset-url('SourceSansPro-Black.woff') format('woff');
}
