body{
min-width:1200px;
}
.container_12{
margin-left:auto;
margin-right:auto;
width:1200px;
}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{
display:inline;
float:left;
margin-left:10px;
margin-right:10px;
}
.alpha{
margin-left:0;
}
.omega{
margin-right:0;
}
.container_12 .grid_1{
width:80px;
}
.container_12 .grid_2{
width:180px;
}
.container_12 .grid_3{
width:280px;
}
.container_12 .grid_4{
width:330px;
}
.navbar {
visibility: hidden;
display: none;
}
.section, .widget {
margin: 0;
padding: 0;
}
#blog-pager {
margin: 0 auto 20px auto;
width:400px;
padding: 7px;
background: #f3f3f3;
border: 1px solid #ccc;
-moz-box-shadow: inset 0 0 5px #fff;
-webkit-box-shadow: inset 0 0 5px #fff;
box-shadow: inset 0 0 5px #fff;
text-align: left;
font-size: 18px;
height: 29px;
}
.blog-pager a {
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    float: left;
}
.blog-pager em{
    background-color: rgb(245, 245, 245);
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    float: left;
}
.blog-pager span{
    color: rgb(153, 153, 153);
    cursor: default;
    background-color: rgb(255, 255, 255);
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    float: left;
}
.showpageNum a {
display: inline;
padding: 5px 6px 4px 6px;
margin: 3px;
text-decoration: none;
color: #666;
background-color: inherit;
}
.showpageNum a:hover {
color: #000;
}
.showpageOf {
padding: 5px 6px 4px 6px;
margin: 3px;
color: #333;
font-weight:bold;
background-color: inherit;
}
.showpagePoint {
padding: 5px 6px 4px 6px;
margin: 3px;
font-weight:bold;
color: #333;
background-color: #ccc;
}
.blog-pager .next a {
  float: right;
}
.blog-pager .previous a {
  float: left;
}
.pagination {
  height: 36px;
  margin: 18px 0;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}

.pagination a:hover,
.pagination .active a {
  background-color: #f5f5f5;
}

.pagination .active a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  cursor: pointer;
  background-color: transparent;
}

.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}
.kategoria{
    width: 150px;
    height: 30px;
    color: rgb(51, 51, 51);
    font-family: Arial,Helvetica,Tahoma,sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: 1px solid #ccc;
-moz-box-shadow: inset 0 0 10px #ececec;
-webkit-box-shadow: inset 0 0 10px #ececec;
box-shadow: inset 0 0 10px #ececec;
    background:white;
}
.kategoria_box{
float:right;
margin-top:-55px;
margin-right:15px;
}
.artykul_tytul{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: rgb(68, 68, 68);
    padding: 5px;
    margin: 0px;
    width: 550px;
    height: 22px;
    display: block;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 0px 10px rgb(243, 243, 243) inset;
}
.komentarz_body{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: rgb(68, 68, 68);
    padding: 5px;
    margin: 0px;
    display: block;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 0px 10px rgb(236, 236, 236) inset;
    height:120px;
}
.bbcode_help_button{
width: 22px;
height: 22px;
display: inline-block;
cursor:pointer;
}
.obrazek{
margin-left:-5px;
margin-top:-6px;
}
.bbcode_help{
margin-top:-25px;
float:right;
width:250px;
height:20px;
}
.bbcode_help_comments{
margin-top:-60px;
margin-right:10px;
float:right;
width:200px;
height:20px;
}
.nk {
margin-top: -29px;
margin-left: 300px;
}
.google{
margin-top: -26px;
margin-left: 215px;
}
.social_buttons {
margin-top:10px;
}
.about{
margin-top:100px;
margin-left:30%;
}
.imie_nazwisko{
margin-top:-110px;
margin-left:150px;
font-size:60px;
line-height: 1;
}
table.CodeRay {
width: 100px;
margin-top:-80px;
border-style: solid;
border-width: 1px;
}

.CodeRay {
font-family: 'Courier New', 'Terminal', monospace;
overflow: auto;
margin: 9px 0px ;
color: rgb(230, 224, 219);
border-style: solid;
border-width: 1px;
}

.CodeRay pre {
font-size: 12px;
color:#000;
padding: 2px 0px 2px 5px;
font-weight: normal;
}

.CodeRay .an { color:#E7BE69 }                      /* html attribute */
.CodeRay .c  { color:#BC9358; font-style: italic; } /* comment */
.CodeRay .ch { color:#509E4F }                      /* escaped character */
.CodeRay .cl { color:#FFF }                         /* class */
.CodeRay .co { color:#FFF }                         /* constant */
.CodeRay .fl { color:#A4C260 }                      /* float */
.CodeRay .fu { color:#FFC56D }                      /* function */
.CodeRay .gv { color:#D0CFFE }                      /* global variable */
.CodeRay .i  { color:#A4C260 }                      /* integer */
.CodeRay .il { background:#151515 }                 /* inline code */
.CodeRay .iv { color:#D0CFFE }                      /* instance variable */
.CodeRay .pp { color:#E7BE69 }                      /* doctype */
.CodeRay .r  { color:#CB7832 }                      /* keyword */
.CodeRay .rx { color:#A4C260 }                      /* regex */
.CodeRay .s  { color:#A4C260 }                      /* string */
.CodeRay .sy { color:#6C9CBD }                      /* symbol */
.CodeRay .ta { color:#E7BE69 }                      /* html tag */
.CodeRay .pc { color:#6C9CBD }                      /* boolean */
.debug { color: white !important; background: blue !important; }

.annotation { color:#007 }
.attribute-name { color:#b48 }
.attribute-value { color:#700 }
.binary { color:#509 }
.char .content { color:#D20 }
.char .delimiter { color:#710 }
.char { color:#D20 }
.class { color:#B06; font-weight:bold }
.class-variable { color:#369 }
.color { color:#0A0 }
.comment { color:#777 }
.comment .char { color:#444 }
.comment .delimiter { color:#444 }
.complex { color:#A08 }
.constant { color:#036; font-weight:bold }
.decorator { color:#B0B }
.definition { color:#099; font-weight:bold }
.delimiter { color:black }
.directive { color:#088; font-weight:bold }
.doc { color:#970 }
.doc-string { color:#D42; font-weight:bold }
.doctype { color:#34b }
.entity { color:#800; font-weight:bold }
.error { color:#F00; background-color:#FAA }
.escape { color:#666 }
.exception { color:#C00; font-weight:bold }
.float { color:#60E }
.function { color:#06B; font-weight:bold }
.global-variable { color:#d70 }
.hex { color:#02b }
.imaginary { color:#f00 }
.include { color:#B44; font-weight:bold }
.inline { background-color: hsla(0,0%,0%,0.07); color: black }
.inline-delimiter { font-weight: bold; color: #666 }
.instance-variable { color:#33B }
.integer { color:#00D }
.key .char { color: #60f }
.key .delimiter { color: #404 }
.key { color: #606 }
.keyword { color:#080; font-weight:bold }
.label { color:#970; font-weight:bold }
.local-variable { color:#963 }
.namespace { color:#707; font-weight:bold }
.octal { color:#40E }
.operator { }
.predefined { color:#369; font-weight:bold }
.predefined-constant { color:#069 }
.predefined-type { color:#0a5; font-weight:bold }
.preprocessor { color:#579 }
.pseudo-class { color:#00C; font-weight:bold }
.regexp .content { color:#808 }
.regexp .delimiter { color:#404 }
.regexp .modifier { color:#C2C }
.regexp { background-color:hsla(300,100%,50%,0.06); }
.reserved { color:#080; font-weight:bold }
.shell .content { color:#2B2 }
.shell .delimiter { color:#161 }
.shell { background-color:hsla(120,100%,50%,0.06); }
.string .char { color: #b0b }
.string .content { color: #D20 }
.string .delimiter { color: #710 }
.string .modifier { color: #E40 }
.string { background-color:hsla(0,100%,50%,0.05); }
.symbol .content { color:#A60 }
.symbol .delimiter { color:#630 }
.symbol { color:#A60 }
.tag { color:#070 }
.type { color:#339; font-weight:bold }
.value { color: #088; }
.variable { color:#037 }

.insert { background: hsla(120,100%,50%,0.12) }
.delete { background: hsla(0,100%,50%,0.12) }
.change { color: #bbf; background: #007; }
.head { color: #f8f; background: #505 }
.head .filename { color: white; }

.delete .eyecatcher { background-color: hsla(0,100%,50%,0.2); border: 1px solid hsla(0,100%,45%,0.5); margin: -1px; border-bottom: none; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.insert .eyecatcher { background-color: hsla(120,100%,50%,0.2); border: 1px solid hsla(120,100%,25%,0.5); margin: -1px; border-top: none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

.insert .insert { color: #0c0; background:transparent; font-weight:bold }
.delete .delete { color: #c00; background:transparent; font-weight:bold }
.change .change { color: #88f }
.head .head { color: #f4f }
td.line-numbers { display:none;}
td.line-numbers pre{ width:10px; font-size:12px; background:#339999;}
td.line-numbers pre a { color:black; font-weight:bold;}
td.code pre{ width:750px; font-size:12px; line-height:15px; }
.fb-like{
display:block;
position:absolute;
top:30px;
left:200px;
}
.twitter-glowna{
display:block;
position:absolute;
top:30px;
right:350px;
}
#___plusone_0{
position:absolute;
top:30px;
right:280px;
}
.info-sidebar{
width:250px;
}
.następny_poprzedni {
    margin-left: 67%;
    margin-top: -20px;
}
#info_subskrypcja{
width:320px
}
#newsletter_email{
width:300px;
border-radius: 4px 4px 4px 4px;
background:rgb(240,240,240);
}
#newsletter_email:focus{
width:300px;
background:rgb(236,236,236);
border-radius: 4px 4px 4px 4px;
}
.notice{
display: inline-block;
margin-top: 14px;
margin-left: 150px;
font-size: 18px;
}
.roll {
    display: inline-block;
    overflow: hidden;

    vertical-align: top;

    -webkit-perspective: 400px;
       -moz-perspective: 400px;

    -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
}
.roll span {
    display: block;
    position: relative;
    padding: 0 2px;

    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
    
    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
    
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
}
.roll:hover span {
        background: #111;

        -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
           -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    }
.roll span:after {
    content: attr(data-title);

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 2px;

    color: #fff;
    background: hsl(206, 80%, 30%);

    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;

    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
       -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}
.wyszukaj_nav{
background:rgb(232,232,232);
color: #333;
font-family: Arial, Helvetica, Tahoma, sans-serif;
}
.wyszukaj_nav:focus{
background:rgb(236,236,236);
color: #333;
font-family: Arial, Helvetica, Tahoma, sans-serif;
}
.alert-error {
    color: black;
    background-color: rgb(242, 222, 222);
    padding: 6px 35px 6px 14px;
    margin-bottom: 5px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    background-color: rgb(252, 248, 227);
    border: 1px solid rgb(185, 74, 72);
    border-radius: 4px 4px 4px 4px;
    font-weight:bold;
}
.koment_czas{
font-size: 12px;
}
.about_przycisk {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 145px;
    color: rgb(51, 51, 51);
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230));
    background-repeat: repeat-x;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgb(179, 179, 179);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
    height: 145px;
}
.subskrypcja_rss{
display: inline-block;
float:right;
margin-top: -4px;
margin-bottom:-50px;
cursor:pointer;
margin-right:320px;
}
.subskrypcja_rss :hover{
margin-top: -2px;
}
